body {
    background-color: #262626
}

.myslider {
    width: 100%;
    color: #fff;
    border: 2px solid #ffd200;
    min-height: 400px;
    overflow: hidden;
    position: relative;
}

.myslider .img {
    overflow: hidden;
    position: absolute;
    background: center/cover no-repeat;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    transition: .4s;
    width: 100%;
    height: 80%;
    left: 0;
}

.myslider .img1 {
    top: -50%;
    -webkit-transform: scale(.6);
    -moz-transform: scale(.6);
    -ms-transform: scale(.6);
    transform: scale(.6);
    z-index: 1;
}

.myslider .img2 {
    top: -20%;
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    transform: scale(.8);
    z-index: 2;
}

.myslider .img3 {
    top: 10%;
    z-index: 3;
}

.myslider .img4 {
    top: 60%;
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    transform: scale(.8);
    z-index: 2;
}

.myslider .img5 {
    top: 110%;
    -webkit-transform: scale(.6);
    -moz-transform: scale(.6);
    -ms-transform: scale(.6);
    transform: scale(.6);
    z-index: 1;
}


/* 底部按钮 */

.myslider .slide-bt {
    position: absolute;
    left: 50%;
    bottom: 13%;
    z-index: 10;
}

.myslider .slide-bt span {
    width: 24px;
    height: 8px;
    background: #c9caca;
    float: left;
    margin: 5px;
    border-radius: 4px;
}

.myslider .slide-bt .on {
    background: #ffd200;
}